
<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>Mysore trip package(50000)</h1>
          <div class="posted-on">

          </div>
          <div class="detail-img">
             <img src="assets/images/maxresdefault.jpg" alt="blog1">
          </div>
          <div class="blog-desc">


          <p>mysore package includes following places: –
          </p>
          <ul>
              <li>mysore palace</li>
              <li>KRS DAM</li>
              <li>Brudavan Garden</li>
              <li>zoo</li>

          </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

