<section class="container forms">
  <div class="form login">
      <div class="form-content">
          <header>Login</header>
          <form action="#">
              <div class="field input-field">
                  <input type="email" placeholder="Email" class="input">
              </div>

              <div class="field input-field">
                  <input type="password" placeholder="Password" class="password">
                  <i class='bx bx-hide eye-icon'></i>
              </div>



              <div class="form-link">
                  <a href="#" class="forgot-pass">Forgot password?</a>
              </div>


          </form>

          <div class="form-link">
              <span><a href="/articles" class="link signup-link">Login</a></span><br>
              <span>Don't have an account?</span><br> <a href="/lat" class="link signup-link">SignUp</a>
          </div>
      </div>
  </div>
</section>
