
<!--<section class="blog-list mtb-40">
  <div class="container">
    <h1>Article List</h1>
    <div class="row">
        <div class="col-md-8">
          <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                  <div class="col-md-4">
                <img src="assets/images/12.png" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>How to add Shopify Announcement bar (without an app)</h3>
                  <p>by <span>Pradeep Maurya</span></p>
                  <p>The Shopify announcement bar is an excellent way to promote a special discount offer, a sale, or another type of promotion...</p>
                  <a href="/article/1" class="readmore">Read more...</a></div> </div>
          </div>
            </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/images/12.png" alt="blog1">
              </div>
              <div class="col-md-8">
                <h3>Transpilation in Angular</h3>
                <p>by <span>Pradeep Maurya</span></p>
                <p>Transpilation = translate + compilation The Angular compiler translates the html template to super optimized JavaScript code...</p>
                <a href="/article/2" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/images/12.png" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>Difference between JavaScript and TypeScript</h3>
          <p>by <span>Pradeep Maurya</span></p>
          <p>What is JavaScript? JavaScript is an object-based scripting language. JavaScript is the most popular programming language of HTML...</p>
          <a href="/article/3" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/images/12.png" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>How to use cookies in angular</h3>
                  <p>by <span>Pradeep Maurya</span></p>
                  <p>What is Cookies in Angular? Cookies are small packages of information that can be temporarily stored/saved by your browser ...</p>
                  <a href="/article/4" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/images/12.png" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>How to Get Current Visitor Location using HTML5 Geolocation API</h3>
          <p>by <span>Pradeep Maurya</span></p>
          <p>This feature Get Current Visitor Location helps to provide the website visitor with a better browsing experience...</p>
          <a href="/article/5" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/images/12.png" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>What is MERN Stack?</h3>
                  <p>by <span>Pradeep Maurya</span></p>
                  <p>In the world of software development, MERN Stack is one of the most widely used technological stacks and a web development framework...</p>
                  <a href="/article/6" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
        </div>

      </div>

    </div>

</section>!-->
<nav class="navbar navbar-expand-md navbar-dark bg-blue">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="assets/images/12.png" alt="Angular Project">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" (click)="toggleNavbarCollapsing()" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.collapse]="navbarCollapsed" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

         <li class="nav-item">
          <a class="nav-link" routerLink='/about-us'  routerLinkActive="active">About Us</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" routerLink='/articles' routerLinkActive="active">Articles</a>
        </li>!-->

        <li class="nav-item">
          <a class="nav-link" routerLink='/contact-us' routerLinkActive="active">Book Now</a>
        </li>

        <li class="nav-item" class="topnav-right">
          <a class="btn navbar-btn btn-danger navbar-right pull-right" routerLink='/signn' routerLinkActive="active">Logout</a>
        </li>






      </ul>
      <!--<ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
    </ul>!-->

    </div>
  </div>
</nav>



<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
          <h2 class="title-heading">Travel</h2>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/palace.jpeg" alt="blog1">
            <h3>Mysore palace</h3>

            <p>The Mysore Palace, also known as Amba Vilas Palace, is a historical palace and a royal residence (house). It is located in Mysore, Karnataka.</p>
            <a href="/article/1" class="readmore">See Package...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/tajmahal.jpeg" alt="blog1">
            <h3>Taj Mahal</h3>

            <p>The Taj Mahal is an Islamic ivory-white marble mausoleum on the right bank of the river Yamuna in the Indian city of Agra.</p>
            <a href="/article/2" class="readmore">See Package...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/goldentemple.jpeg" alt="post1">
            <h3>Golden Temple</h3>

            <p>The Golden Temple is a gurdwara located in the city of Amritsar, Punjab, India. It is the preeminent spiritual site of Sikhism.</p>
            <a href="/article/3" class="readmore">See Package...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/charminar.jpeg" alt="post2">
            <h3>charminar</h3>

            <p>The Charminar ( lit. 'four minarets') is a mosque and monument located in Hyderabad, Telangana, India.</p>
            <a href="/article/4" class="readmore">See Package...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/jantar.jpeg" alt="post3">
            <h3>Jantar Mantar</h3>

            <p>Jantar Mantar is located in the modern city of New Delhi. “Jantar Mantar” literally means “instruments for measuring the harmony of the heavens”.</p>
            <a href="/article/5" class="readmore">See Packaga...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/charminar.jpeg" alt="post4">
            <h3>charminar</h3>

            <p>The Charminar ( lit. 'four minarets') is a mosque and monument located in Hyderabad, Telangana, India.</p>
            <a href="/article/6" class="readmore">See Package...</a>
          </div>
        </div>
      </div>
    </div>
  </section>


